# Import Library and Loading DataSet

In [1]:
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# load dataset
import pandas as pd
df = pd.read_excel("/Users/joao/Desktop/Data Visualisation & Communication/Data-Visualisation/all_data_M_2023.xlsx",engine="openpyxl")

## get the location of the files

In [ ]:
import os
os.getcwd()

## visualisation the structure of the dataset rows/columns

In [3]:
df.head()

,AREA,AREA_TITLE,AREA_TYPE,PRIM_STATE,NAICS,NAICS_TITLE,I_GROUP,OWN_CODE,OCC_CODE,OCC_TITLE,...,H_MEDIAN,H_PCT75,H_PCT90,A_PCT10,A_PCT25,A_MEDIAN,A_PCT75,A_PCT90,ANNUAL,HOURLY
0,99,U.S.,1,US,000000,Cross-industry,cross-industry,1235,00-0000,All Occupations,...,23.11,37.01,58.4,29050,35660,48060,76980,121470,NaN,NaN
1,99,U.S.,1,US,000000,Cross-industry,cross-industry,1235,11-0000,Management Occupations,...,56.19,81.29,111.36,54550,78330,116880,169090,231620,NaN,NaN
2,99,U.S.,1,US,000000,Cross-industry,cross-industry,1235,11-1000,Top Executives,...,49.74,79.57,#,46400,66170,103460,165500,#,NaN,NaN
3,99,U.S.,1,US,000000,Cross-industry,cross-industry,1235,11-1010,Chief Executives,...,99.37,#,#,80000,130840,206680,#,#,NaN,NaN
4,99,U.S.,1,US,000000,Cross-industry,cross-industry,1235,11-1011,Chief Executives,...,99.37,#,#,80000,130840,206680,#,#,NaN,NaN

In [ ]:
df.shape

In [ ]:
df.info()

In [ ]:
df.columns

# now lets filter the information
## we know dataset has 413327 rows and 32 columns
following we need to select only the data we need to perform our data visualisation

In [ ]:
# Selecting only the jobs occupation we want 
keywords = ["Data", "Artificial", "Software", "Machine Learning", "AI"]

df_ai = df[df["OCC_TITLE"].str.contains('|'.join(keywords), case=False, na=False)]

# display the first 20 lines for checking teh dataset
df_ai[["OCC_TITLE", "TOT_EMP", "A_MEAN", "AREA_TITLE"]].head(20)